<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviewords</title>

          <div th:replace="~{User/Fragment/element :: head}"></div>
  <link rel="stylesheet" href="/User/css/mission.css">


</head>

<body>

          <div th:replace="~{User/Fragment/element :: header}"></div>

<div class="banner-content  shadow-sm py-4">
			<h1 class="mb-0 text-center text-light fw-semibold">BÀI VIẾT</h1>
		</div>
  <section class="mt-3">
    <div class="container">
		
		
			<div class="row mt-2">
				<div class="col-12 col-md-6 mb-1">
					<div class=" rounded shadow-sm p-2 bg-light">
						<div class="row">
						<div class="col-4">
							<a class="rounded overflow-hidden d-block" href="/content-detail">
								 <img style="width: 100%; height: 100px;" class="object-fit-cover  zoom__img__hover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnnfGQNAHiOeAF19d76JSPBMW08g0xkXS1mg&s">
							</a>
						</div>
						<div class="col-8">
							<div class="d-flex justify-content-between flex-column h-100">
							<div>
							<a class="fs-6 fw-semibold link__orange text-decoration-none" href="#">Hướng dẫn làm nhiệm vụ đánh giá map</a>
							<br>
							<p class="text-secondary d-inline-block text-truncate m-0" style="max-width: 150px;">Các bước để làm đánh giá map thành công, thị trường mới </p>
						
							</div>
							<div class="d-flex text__orange justify-content-between" >
								<div class="fs__12px">
								<i class="fa-solid fa-calendar-week"></i>
								<span>10:10 12/05/2025</span>
								</div>
								<a class="badge text-bg-danger text-decoration-none" href="#">Bài viết</a>
							</div>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 mb-1">
					<div class=" rounded shadow-sm p-2 bg-light">
						<div class="row">
						<div class="col-4">
							<a class="rounded overflow-hidden d-block" href="#">
								 <img style="width: 100%; height: 100px;" class="object-fit-cover  zoom__img__hover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnnfGQNAHiOeAF19d76JSPBMW08g0xkXS1mg&s">
							</a>
						</div>
						<div class="col-8">
							<div class="d-flex justify-content-between flex-column h-100">
							<div>
							<a class="fs-6 fw-semibold link__orange text-decoration-none" href="#">Hướng dẫn làm nhiệm vụ đánh giá map</a>
							<br>
							<p class="text-secondary d-inline-block text-truncate m-0" style="max-width: 150px;">Các bước để làm đánh giá map thành công, thị trường mới </p>
						
							</div>
							<div class="d-flex text__orange justify-content-between" >
								<div class="fs__12px">
								<i class="fa-solid fa-calendar-week"></i>
								<span>10:10 12/05/2025</span>
								</div>
								<a class="badge text-bg-danger text-decoration-none" href="#">Bài viết</a>
							</div>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 mb-1">
					<div class=" rounded shadow-sm p-2 bg-light">
						<div class="row">
						<div class="col-4">
							<a class="rounded overflow-hidden d-block" href="#">
								 <img style="width: 100%; height: 100px;" class="object-fit-cover  zoom__img__hover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnnfGQNAHiOeAF19d76JSPBMW08g0xkXS1mg&s">
							</a>
						</div>
						<div class="col-8">
							<div class="d-flex justify-content-between flex-column h-100">
							<div>
							<a class="fs-6 fw-semibold link__orange text-decoration-none" href="#">Hướng dẫn làm nhiệm vụ đánh giá map</a>
							<br>
							<p class="text-secondary d-inline-block text-truncate m-0" style="max-width: 150px;">Các bước để làm đánh giá map thành công, thị trường mới </p>
						
							</div>
							<div class="d-flex text__orange justify-content-between" >
								<div class="fs__12px">
								<i class="fa-solid fa-calendar-week"></i>
								<span>10:10 12/05/2025</span>
								</div>
								<a class="badge text-bg-danger text-decoration-none" href="#">Bài viết</a>
							</div>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 mb-1">
					<div class=" rounded shadow-sm p-2 bg-light">
						<div class="row">
						<div class="col-4">
							<a class="rounded overflow-hidden d-block" href="#">
								 <img style="width: 100%; height: 100px;" class="object-fit-cover  zoom__img__hover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnnfGQNAHiOeAF19d76JSPBMW08g0xkXS1mg&s">
							</a>
						</div>
						<div class="col-8">
							<div class="d-flex justify-content-between flex-column h-100">
							<div>
							<a class="fs-6 fw-semibold link__orange text-decoration-none" href="#">Hướng dẫn làm nhiệm vụ đánh giá map</a>
							<br>
							<p class="text-secondary d-inline-block text-truncate m-0" style="max-width: 150px;">Các bước để làm đánh giá map thành công, thị trường mới </p>
						
							</div>
							<div class="d-flex text__orange justify-content-between" >
								<div class="fs__12px">
								<i class="fa-solid fa-calendar-week"></i>
								<span>10:10 12/05/2025</span>
								</div>
								<a class="badge text-bg-danger text-decoration-none" href="#">Bài viết</a>
							</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
     
    </div>
  </section>




        <div th:replace="~{User/Fragment/element :: footer}"></div>
  <script src="/User/js/bootstrap.bundle.min.js"></script>
  <script src="/User/js/menu.js"></script>
</body>

</html>