body{
     font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);
    padding-top: 60px;
    font-size: 14px;
}



.btn__blue__subtle__hover{
    transition: all 0.15s ease-in-out;
    border-radius: 4px;
}

.btn__blue__subtle__hover:hover{
    background-color: var(--color-blue-subtle);
    color: black;
}


.btn__orange__subtle__hover{
    transition: all 0.15s ease-in-out;
    border-radius: 4px;
}

.btn__orange__subtle__hover:hover{
    background-color: var(--color-orange-light-light);
    color: black !important;
}

.btn__green__subtle__hover{
    transition: all 0.15s ease-in-out;
    border-radius: 4px;
}

.btn__green__subtle__hover:hover{
    background-color: rgba(4, 255, 0, 0.208);
    color: black;

}

.border__orange{
	border-color: var(--color-orange) !important;
}

.text__orange{
    color: var(--color-orange);
}

.text__gray{
    color: var(--color-gray-light);
}

.btn__orange {
    background-color: var(--color-orange);
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.375rem; 
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    display: inline-block;
}

.btn__orange:hover {
    background-color: var(--color-orange-subtle) !important;
    text-decoration: none;
    color: #fff;
}

.btn__orange:focus {
    outline: none;
    background-color: var(--color-orange-subtle);

}
.btn__orange:hover,
.btn__orange:focus,
.btn__orange:active {
    background-color: var(--color-orange-dark) !important; /* luôn giữ màu cam khi tương tác */
    color: #fff !important;
}


.bg__gray{
    background-color: var(--color-gray);
}

.bg__gray__subtle{
    background-color: var(--color-gray-dark-subtle);
}

.bg__gray__light__subtle{
    background-color: var(--color-gray-light-subtle);
}

.bg__orange{
    background-color: var(--color-orange);
}

.bg__orange__subtle{
    background-color: var(--color-orange-subtle);
}

.bg__orange__dark__subtle{
    background-color: var(--color-gray-light-subtle);
}

.medium-content{
    display: none;
}

.large-content{
    display: block;
}

.hover__img{
    transition: all 0.15s ease-in-out;
}

.hover__img:hover{
    scale: 1.05;
}


.fs__12px{
    font-size: 12px;
}

.fs__11px{
    font-size: 11px;
}

.fs__10px{
    font-size: 10px;
}

.medium__container{
    width: 768px;
    margin: 0 auto;
}

.menu-footer{
	justify-content: flex-end;
}




 #spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }


.seperator{
	background-color: var(--color-orange);
	height: 1px;
	margin: 0 auto;
	width: 10%;
}

.banner-content{
	background-image: url('/User/assets/photo/banner-content.jpg');
	 background-size: cover;
   background-position: center;
}

.banner-content-white{
	background-image: url('/User/assets/photo/bg-content-light.jpg');
	 background-size: cover;
   background-position: center;
}

.link__orange{
	color: #000;
	transition: 0.2s all ease-in-out;
}

.link__orange:hover{
	color:  var(--color-orange);
}

.zoom__img__hover{
	 transition: 0.2s all ease-in-out;
}

.zoom__img__hover:hover{
	scale: 1.07; 
}

@media screen and (max-width: 768px) {
	
	 [data-aos] {
        max-width: 100%;
        box-sizing: border-box;
        transform: none !important; 
    }
	
    .medium-content{
        display: block;
    }
    
    .large-content{
        display: none;
    }
    
    .medium__container{
        width: 100%;
        padding-inline: 10px;
    }
    
    .menu-footer{
	justify-content: flex-start;
}
}