<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
  data-assets-path="/Admin/assets/" data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Quản lý sàn - ADMIN</title>
  <meta name="description" content="" />

  <div th:replace="~{Admin/Fragment/element :: head}"></div>
</head>

<body>

  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <div th:replace="~{Admin/Fragment/element :: menu}"></div>
      <div class="layout-page">
        <div th:replace="~{Admin/Fragment/element :: header}"></div>
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row justify-content-center">
              <div class="col-xl-12">
                <div class="card mb-4 p-3">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="mb-0">Quản lý sàn</h4>
                    <button type="button" class="btn btn-primary px-4" data-bs-toggle="modal"
                      data-bs-target="#exampleModal-new">
                      <i class="fa fa-plus me-1"></i> Thêm sàn
                    </button>
                  </div>
                  <!-- Modal Thêm -->
                  <div class="modal fade" id="exampleModal-new" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm sàn</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form th:action="@{/admin/ordertype/update}" method="post" enctype="multipart/form-data">
                            <div class="row g-3">
                              <div class="col-12">
                                <label for="name" class="form-label">Tên</label>
                                <input type="text" class="form-control" name="name" required />
                               
                              </div>
                              <div class="col-md-6">
                                <label for="feePercentage" class="form-label">Phí phần trăm</label>
                                <div class="input-group">
                                  <input type="number" class="form-control" id="feePercentage" name="feePercentage"
                                    required />
                                  <span class="input-group-text">%</span>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label for="photo" class="form-label">Ảnh</label>
                                <input type="file" class="form-control" name="photoFile" required="required"/>
                              </div>
                              <!-- <div class="col-md-6">
                                <label for="slug" class="form-label">Slug</label>
                                <input type="text" class="form-control" id="slug" name="slug" required />
                                <div class="invalid-feedback">
                                  Vui lòng nhập slug.
                                </div>
                              </div> -->
                              <div class="col-md-6">
                                <label for="url" class="form-label">Đường dẫn truy cập</label>
                                <input type="url" class="form-control" id="url" name="url" required="required" />
                              </div>
                              <div class="col-md-6">
                                <label for="link" class="form-label">Link hướng dẫn</label>
                                <input type="url" class="form-control" id="link" name="link" required="required" />
                              </div>
                              <!-- <div class="col-md-6">
                                <label for="createdAt" class="form-label">Ngày tạo</label>
                                <input type="date" class="form-control" id="createdAt" name="createdAt" />
                              </div> -->
                            </div>
                            <div class="mt-4 text-end">
                              <button type="submit" class="btn btn-primary px-4">Tạo</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                  </div>
                  
               
                  <!-- Bảng danh sách OrderType -->
                  <div class="table-responsive ">
                    <table class="table table-striped align-middle" id="example">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Tên</th>
                          <th>Phí (%)</th>
                          <th>URL</th>
                          <th>Link</th>
                          <th>Ngày tạo</th>
                          <th >Tùy chỉnh</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="orderType : ${orderTypes}">
                          <td th:text="${orderType.id}"></td>
                          <td >
                          	<a th:href="@{/admin/order-type/{id}(id=${orderType.id})}" th:text="${orderType.name}" class="link-primary"></a>
                          </td>
                          <td th:text="${orderType.feePercentage} + '%'"></td>
                          
                        
                          <td class="text-break url-cell">
                            <a th:href="${orderType.url}" th:text="${orderType.url}" target="_blank"
                              th:if="${orderType.url}"></a>
                          </td>
                          <td class="text-break url-cell">
                            <a th:href="${orderType.link}" th:text="${orderType.link}" target="_blank"
                              th:if="${orderType.link}"></a>
                          </td>
                          <td th:text="${#dates.format(orderType.createdAt, 'HH:mm yyyy-MM-dd')}"></td>
                          <td >
                          
                          <div class="dropdown">
  <button class="btn btn-light px-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   <i class='bx  bx-dots-vertical-rounded'  ></i>
  </button>
  <ul class="dropdown-menu ">
    <li><a class="dropdown-item" th:href="@{/admin/order-type/{id}(id=${orderType.id})}">Cập nhật</a></li>
    <li><button class="dropdown-item" th:attr="data-bs-target='#exampleModal-delete-' + ${orderType.id}" data-bs-toggle="modal">Xóa sàn</button></li>
  </ul>
</div>
                            <!-- Modal sửa OrderType -->
                          

                            <!-- Modal xóa OrderType -->
                          
                            <div class="modal fade" th:id="'exampleModal-delete-' + ${orderType.id}" tabindex="-1"
                              aria-labelledby="exampleModalLabel-delete" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa sàn  <span th:text="${orderType.name}"></span></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Bạn có chắc rằng muốn xóa sàn này và tất cả ngôn ngữ thuộc sàn sẽ mất, tất cả đơn hàng đã đặt thuộc sàn vẫn giữ nguyên!
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                      data-bs-dismiss="modal">Đóng</button>
                                    <a th:href="@{/admin/ordertype/delete/{id}(id=${orderType.id})}"
                                      class="btn btn-danger ">Xóa</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="content-backdrop fade"></div>
        </div>
      </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <div th:replace="~{Admin/Fragment/element :: bag}"></div>
  <div th:replace="~{Admin/Fragment/element :: footer}"></div>

</body>

</html>