<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Trang chủ - Revieworld</title>

<div th:replace="~{User/Fragment/element :: head}"></div>

<link rel="stylesheet" href="/User/css/index.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

	<div th:replace="~{User/Fragment/element :: header}" ></div>



	<section class="bg-light ">

		<div class="container  py-2 ">
			<div class="row">
				<div
					class=" h-100 d-flex align-items-start z-1 flex-column justify-content-center col-12 col-md-6 ">
					<span
						class="rounded fw-semibold text-light bg__orange__subtle p-2 fs-6">Giới
						thiệu Revieworld – Nền tảng kết nối thuê & làm dịch vụ số</span> <span
						class="rounded mt-1 text-light  bg__gray__subtle p-2 ">Chào
						mừng đến với nền tảng Revieworld – sàn thương mại số dành riêng
						cho người thuê các dịch vụ như đánh giá, quảng bá, viết bài, thiết
						kế... và những người muốn kiếm tiền từ kỹ năng của mình. Tại đây,
						người thuê dễ dàng đăng bài với mức giá rõ ràng, người làm nhận
						việc nhanh chóng, sàn đảm bảo giao dịch an toàn và thu phí minh
						bạch. Tham gia ngay để bắt đầu thuê hoặc kiếm tiền từ chính thời
						gian và công sức của bạn!</span> <a href="/booking"
						class="btn btn__orange mt-1">Tạo Booking <i
						class="fa-solid fa-arrow-right-long"></i></a>
				</div>

				<div class="col-12 col-md-6">
					<img class="w-100" src="/User/assets/photo/main-content.png">

				</div>
			</div>
		</div>

	</section>


	<div class="landing-hero">
		<div class="container text-center py-4">
			<h2>TĂNG UY TÍN TRÊN GOOGLE MAPS/FANPAGE CHỈ TRONG VÀI NGÀY</h2>
			<p class="landing-hero__subtitle">Nhận review chất lượng, tự
				nhiên – từ cộng đồng hàng ngàn người dùng thật, không bot.</p>
			<a class="btn btn-light text__orange"> Thuê review ngay </a>
		</div>
	</div>


	<section class="mt-4 ">
		<div class="container text-center">
			<h2 class="text__orange fw-bold">Đừng để địa điểm của bạn bị
				chìm giữa đám đông!</h2>
			<div class="seperator mb-3"></div>
			<div class="row">
				<div class="col-12 col-md-6 mb-2" data-aos="fade-right">
					<div class="bg-light p-2 rounded shadow-sm">
						<img class="rounded-circle" style="width: 100px;"
							src="/User/assets/photo/no-find.jpg">
						<p class="fs-5 fw-semibold text-danger">Trước khi có review</p>


						<div>
							<p class="mb-1">
								<i class="fa-solid fa-hand-point-right text-danger"></i> Khách
								lướt qua vì không có đánh giá
							</p>
							<p class="mb-1">
								<i class="fa-solid fa-hand-point-right text-danger"></i> Không
								hiện lên khi tìm kiếm địa điểm gần đó
							</p>
							<p class="mb-1">
								<i class="fa-solid fa-hand-point-right text-danger"></i> Mất cơ
								hội vì thiếu độ tin cậy
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 mb-2" data-aos="fade-left" >
					<div class="bg-light p-2 rounded shadow-sm">
						<img class="rounded-circle" style="width: 100px;"
							src="/User/assets/photo/find.jpg">
						<p class="fs-5 fw-semibold text-success">Sau khi có review
							chất lượng</p>


						<div>
							<p class="mb-1">
								<i class="fa-solid fa-hand-point-right text-success"></i> Gây ấn
								tượng mạnh ngay từ cái nhìn đầu tiên
							</p>
							<p class="mb-1">
								<i class="fa-solid fa-hand-point-right text-success"></i> Xuất
								hiện ở top đầu Google Maps
							</p>
							<p class="mb-1">
								<i class="fa-solid fa-hand-point-right text-success"></i> Tăng
								lượt khách đến, tăng đặt lịch
							</p>
						</div>
					</div>
				</div>
			</div>



			<div class="mt-1">
				<div class="banner-content p-2  rounded shadow-sm" data-aos="flip-up">
					<div class="row">
						<div
							class="col-12 col-md-6 d-flex flex-column justify-content-center text-light " >
							<h1 class="m-0">🎯</h1>
							<h2 class="fw-bold">90% khách hàng tin vào review trước khi
								quyết định ghé thăm</h2>
							<span>Bạn xứng đáng có cơ hội thể hiện mình tốt hơn.</span>
						</div>
						<div class="col-12 col-md-6">
							<div>
								<img style="width: 300px;"
									src="/User/assets/photo/index-content.png">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mt-3">
				<h1 class="mb-0">💡</h1>
				<h2 class="text__orange fw-bold">Giải pháp của chúng tôi</h2>
				<div class="seperator mb-1"></div>
				<p class="landing-section__text">Chúng tôi là nền tảng kết nối
					bạn với cộng đồng review thật sự – những người sẵn sàng giúp bạn
					nâng tầm thương hiệu trên Google Maps.</p>

				<div class="mt-2">
					<div class="row ">
						<div class="col-12 col-md-3 mb-1 ">
							<div data-aos="flip-left"
								class="bg-light p-2 shadow-sm rounded flex-md-column d-flex  justify-content-start align-items-center h-100 ">
								<div class=" pe-2 p-md-0">
									<div
										class="border-success rounded-circle p-2 d-flex align-items-center justify-content-center  text-success"
										style="width: 70px; height: 70px; border: dashed;">
										<i class="fa-solid fa-people-line fs-1  "></i>
									</div>
								</div>
								<div class=" h-50 d-flex align-items-center">
									<p class="m-0 fs-6 fw-semibold text-start text-md-center">Người review thật, từ nhiều
										khu vực khác nhau</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-3 mb-1 ">
							<div data-aos="flip-left"
								class="bg-light p-2 shadow-sm rounded flex-md-column d-flex  justify-content-start align-items-center h-100 ">
								<div class=" pe-2 p-md-0">
									<div
										class="border-warning rounded-circle p-2 d-flex align-items-center justify-content-center text-warning"
										style="width: 70px; height: 70px; border: dashed;">
										<i class="fa-solid fa-comments fs-1  "></i>
									</div>
								</div>
								<div class=" h-50 d-flex align-items-center">
									<p class="m-0 fs-6 fw-semibold text-start text-md-center">Ngôn từ thân thiện, tự
										nhiên, không spam</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-3 mb-1 ">
							<div data-aos="flip-left"
								class="bg-light p-2 shadow-sm rounded flex-md-column d-flex  justify-content-start align-items-center h-100 ">
								<div class=" pe-2 p-md-0">
									<div
										class="border-info rounded-circle p-2 d-flex align-items-center justify-content-center  text-info"
										style="width: 70px; height: 70px; border: dashed;">
										<i class="fa-solid fa-file-circle-check fs-1"></i>
									</div>
								</div>
								<div class=" h-100 d-flex align-items-center">
									<p class="m-0 fs-6 fw-semibold text-start text-md-center">Không vi phạm chính sách
										của Google</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-3 mb-1 ">
							<div data-aos="flip-left"
								class="bg-light p-2 shadow-sm rounded flex-md-column d-flex  justify-content-start align-items-center h-100 ">
								<div class=" pe-2 p-md-0">
									<div
										class="border-danger rounded-circle p-2 d-flex align-items-center justify-content-center  text-danger"
										style="width: 70px; height: 70px; border: dashed;">
										<i class="fa-solid fa-bars-progress fs-1"></i>
									</div>
								</div>

								<p class="m-0 fs-6 fw-semibold text-start text-md-center">Có thể lựa chọn reviewer phù
									hợp với lĩnh vực của bạn (du lịch, ăn uống, làm đẹp...)</p>


							</div>
						</div>
					</div>
				</div>
			
			</div>
			
				<div class="mt-3 bg__orange d-inline-block rounded text-light p-2" data-aos="zoom-in">
						<strong>Review thông minh – hiển thị tự nhiên – tăng
							uy tín bền vững.</strong>
				</div>
				
			<div class="mt-3">
				<div class="bg-white  p-2  rounded shadow-sm" data-aos="flip-up">
					<div class="row">
					<div class="col-12 col-md-6">
							<div>
								<img style="width: 250px;" class="rounded"
									src="/User/assets/photo/index-content-2.jpg">
							</div>
						</div>
						
						<div
							class="col-12 col-md-6 d-flex flex-column justify-content-center  text-start ">
							<h2 class="fw-bold text__orange">Cách hoạt động cực đơn giản</h2>
							<P class=" mb-2">
								<span class="bg-danger px-1 text-light fw-bold rounded ">1</span>
								<span>Gửi cho chúng tôi đường link địa điểm trên Google Maps</span>
							</P>
							<P class=" mb-2">
								<span class="bg-danger px-1 text-light fw-bold rounded ">2</span>
								<span> Chọn số lượng review bạn muốn</span>
							</P>
							<P class=" mb-2">
								<span class="bg-danger px-1 text-light fw-bold rounded ">3</span>
								<span>Thanh toán bằng PayPal, USDT hoặc QR Banking</span>
							</P>
							<P class=" mb-2">
								<span class="bg-danger px-1 text-light fw-bold rounded ">4</span>
								<span>Chúng tôi sẽ gửi bạn báo cáo chi tiết sau 3–7 ngày</span>
							</P>
							
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="mt-3">
				<h2 class="fw-bold text__orange">Khách hàng nói gì?</h2>
				<div class="seperator mb-1"></div>
				
				<div class="row">
    <div class="col-12 col-md-4 px-2 mb-2">
   		<div class="p-2 bg-light rounded shadow-sm" data-aos="zoom-in">
   			<img style="width: 60px; height: 60px;" class="object-fit-cover rounded-circle " src="/User/assets/photo/user-1.jpg">
   			
   			<p class="fw-semibold mb-0">Ngọc Trinh, chủ Homestay TrinhHouse</p>
   			<div class="mb-2 text-warning">
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			</div>
   			
   			<span class="text-secondary">Tôi có một homestay nhỏ ở Cam Ranh. Sau khi thuê 20 review chất lượng, tôi thấy lượng khách đặt phòng tăng đáng kể chỉ sau 2 tuần.</span>
   		</div>
    </div>
   
 <div class="col-12 col-md-4 px-2 mb-2">
   		<div class="p-2 bg-light rounded shadow-sm" data-aos="zoom-in">
   			<img style="width: 60px; height: 60px;" class="object-fit-cover rounded-circle " src="/User/assets/photo/user-2.jpg">
   			
   			<p class="fw-semibold mb-0">Minh Long, chủ quán Bún Cá Nha Trang</p>
   			<div class="mb-2 text-warning">
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			</div>
   			
   			<span class="text-secondary">Quán ăn của tôi gần như không ai biết đến. Sau khi sử dụng dịch vụ này, tôi đã có 50 review thật, và Google đưa quán tôi lên top trong khu vực.</span>
   		</div>
    </div>
     <div class="col-12 col-md-4 px-2 mb-2">
   		<div class="p-2 bg-light rounded shadow-sm" data-aos="zoom-in">
   			<img style="width: 60px; height: 60px;" class="object-fit-cover rounded-circle " src="/User/assets/photo/user-3.jpg">
   			
   			<p class="fw-semibold mb-0">Hồng Nhung, chủ Spa Nhung Beauty</p>
   			<div class="mb-2 text-warning">
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			<i class="fa-solid fa-star"></i>
   			</div>
   			
   			<span class="text-secondary">Tôi từng tốn rất nhiều tiền cho quảng cáo mà không hiệu quả. Nhờ dịch vụ review thật này, lượng khách hàng biết đến spa của tôi tăng rõ rệt.</span>
   		</div>
    </div>
</div>
			</div>
			
			 
  

			
			<div class="mt-3">
			<h1 class="mb-0">🤔</h1>
			<h2 class="fw-bold text__orange">Câu hỏi thường gặp (FAQ)</h2>
				<div class="seperator mb-1"></div>
				
				<div class="rounded p-2 bg-light shadow-sm d-flex justify-content-center mt-3" data-aos="fade-up">
					<div class=""  style="width: 100%; max-width: 768px;">
						<div class="d-flex justify-content-start p-2 ">
							<img style="width: 40px; height: 40px;" class="rounded-circle border border-warning me-1" src="/User/assets/photo/Q-icon.jpg">
							<span class="bg__gray__light__subtle p-2 rounded">Google có xoá review không?</span>
						</div>
						
						<div class="d-flex justify-content-end p-2 d-flex ">
							<span class="bg-info text-light p-2 rounded text-start d-inline-block" style="max-witdh: 200px; ">Không – nếu review là thật và viết bằng trải nghiệm tự nhiên. Chúng tôi hướng dẫn reviewer để đảm bảo an toàn.</span>
							<img style="width: 40px; height: 40px;" class="rounded-circle border border-info ms-1" src="/User/assets/photo/A-icon.jpg">
						</div>
						
						<div class="d-flex justify-content-start p-2 ">
							<img style="width: 40px; height: 40px;" class="rounded-circle border border-warning me-1 " src="/User/assets/photo/Q-icon.jpg">
							<span class="bg__gray__light__subtle p-2 rounded text-start d-block">Tôi có thể đề xuất nội dung review không?</span>
						</div>
						
						<div class="d-flex justify-content-end p-2 d-flex ">
							<span class="bg-info text-light p-2 rounded text-start d-inline-block" style="max-witdh: 200px; ">Có – bạn có thể đưa ra gợi ý, nhưng nội dung cuối cùng sẽ do reviewer viết sao cho tự nhiên nhất.</span>
							<img style="width: 40px; height: 40px;" class="rounded-circle border border-info ms-1" src="/User/assets/photo/A-icon.jpg">
						</div>
						
						<div class="d-flex justify-content-start p-2 ">
							<img style="width: 40px; height: 40px;" class="rounded-circle border border-warning me-1 " src="/User/assets/photo/Q-icon.jpg">
							<span class="bg__gray__light__subtle p-2 rounded text-start d-block"> Mất bao lâu để hoàn thành?</span>
						</div>
						
						<div class="d-flex justify-content-end p-2 d-flex ">
							<span class="bg-info text-light p-2 rounded text-start d-inline-block" style="max-witdh: 200px; ">Tuỳ số lượng review, thường chỉ 3–7 ngày.</span>
							<img style="width: 40px; height: 40px;" class="rounded-circle border border-info ms-1" src="/User/assets/photo/A-icon.jpg">
						</div>
						
						<div class="d-flex justify-content-start p-2 ">
							<img style="width: 40px; height: 40px;" class="rounded-circle border border-warning me-1 " src="/User/assets/photo/Q-icon.jpg">
							<span class="bg__gray__light__subtle p-2 rounded text-start d-block"> Có thể theo dõi kết quả không?</span>
						</div>
						
						<div class="d-flex justify-content-end p-2 d-flex ">
							<span class="bg-info text-light p-2 rounded text-start d-inline-block" style="max-witdh: 200px; ">Chúng tôi sẽ gửi báo cáo sau khi hoàn thành để bạn kiểm tra.</span>
							<img style="width: 40px; height: 40px;" class="rounded-circle border border-info ms-1" src="/User/assets/photo/A-icon.jpg">
						</div>
					</div>
					
				</div>
			</div>


			
		</div>
	</section>

	<section class="mt-3">
		<div class="container">
			<div class="bg-light p-2 rounded shadow-sm">
				<h5 class="fw-semibold text__orange">Miễn trừ trách nhiệm</h5>

				<div class="px-2">
					<p class="m-0 fw-semibold">1. Nội dung do bên thứ ba cung cấp:</p>
					<span>Chúng tôi chỉ đóng vai trò là nền tảng trung gian kết
						nối giữa người thuê và người thực hiện review (reviewer). Mọi nội
						dung đánh giá được thực hiện bởi bên thứ ba (reviewer) và chúng
						tôi không can thiệp trực tiếp vào nội dung này.</span>
					<p class="m-0 fw-semibold">2. Trách nhiệm nội dung review:</p>
					<span> Người thuê đồng ý rằng việc sử dụng dịch vụ là tự
						nguyện và hiểu rõ các rủi ro tiềm ẩn liên quan đến việc đăng tải
						nội dung trên Google Maps. Chúng tôi không chịu trách nhiệm pháp
						lý đối với các hệ quả phát sinh từ nội dung đánh giá, bao gồm
						nhưng không giới hạn: bị xóa review, báo cáo vi phạm hoặc xử lý từ
						phía Google.</span>
					<p class="m-0 fw-semibold">3. Tính hợp pháp và chính sách của
						Google:</p>
					<span>Chúng tôi không cam kết hoặc đảm bảo rằng dịch vụ
						review sẽ luôn tuân thủ mọi chính sách hiện hành của Google tại
						mọi thời điểm. Khách hàng nên cân nhắc kỹ và chịu trách nhiệm với
						lựa chọn của mình.</span>
					<p class="m-0 fw-semibold">4. Không đảm bảo kết quả cụ thể:</p>
					<span>Chúng tôi không đảm bảo bất kỳ kết quả kinh doanh cụ
						thể nào (như tăng thứ hạng, tăng khách hàng, v.v.) sau khi sử dụng
						dịch vụ. Hiệu quả phụ thuộc vào nhiều yếu tố khách quan khác.</span>
					<p class="m-0 fw-semibold">5. Quyền điều chỉnh nội dung và dịch
						vụ:</p>
					<span>Chúng tôi có quyền thay đổi, tạm dừng hoặc ngừng cung
						cấp dịch vụ mà không cần thông báo trước nếu phát hiện có dấu hiệu
						lạm dụng, gian lận hoặc vi phạm chính sách.</span>
				</div>
			</div>
		</div>
	</section>


	<div th:replace="~{User/Fragment/element :: footer}"></div>
	<div th:replace="~{User/Fragment/element :: toast}"></div>
	<div th:replace="~{User/Fragment/element :: popups}"></div>
	<div th:replace="~{User/Fragment/element :: support}"></div>
	
	
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="/User/js/bootstrap.bundle.min.js"></script>
	<script src="/User/js/menu.js"></script>
	
	<script>
  AOS.init();
</script>
</body>

</html>