<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviewords</title>

   <div th:replace="~{User/Fragment/element :: head}"></div>


</head>

<body>

     <div th:replace="~{User/Fragment/element :: header}"></div>

    <div class="container">
        <div class="border-bottom border-secondary-subtle d-flex justify-content-between p-2">
            <a href="#" id="goBack" class="text-secondary fs__12px"><i class="fa-solid fa-arrow-left"></i> Trở về</a>
            <span class="fw-semibold">Dịch vụ reviews map</span>
        </div>
    </div>


    <section class="mt-3">
        <div class="container">

            <div class="p-2 rounded mt-2 bg-light">
            <div class="d-flex justify-content-between">
                <span th:text="${user.email}">user@gmail.com</span>
                <div>
                    <span class="text-secondary"><i class="fa-solid fa-wallet"></i></span>
                    <span th:text="'$' + ${#numbers.formatDecimal(user.amount,1 , 'COMMA', 2, 'POINT')}">$50</span>
                </div>
            </div>
        </div>


            <div class=" mt-2">
                <div class="bg-light p-2 rounded shadow-sm " >
                    <form class="m-3" th:object="${order}" th:action="@{/create-order}" method="post" enctype="multipart/form-data">
                        <!-- Bước 1: Nhập tên map hoặc fanpage -->
                        <div class="mb-3">
                            <label for="mapName" class="form-label">
                                <b>Bước 1: </b>
                                <span class="fs-14">Nhập tên map hoặc fanpage của bạn</span>
                            </label>
                            <input type="text" class="form-control" id="mapName" required placeholder="Tên map, fanpage ...">
                        </div>
                    
                        <!-- Bước 2: Nhập link cần review -->
                        <div class="mb-3">
                            <label for="reviewLink" class="form-label">
                                <b>Bước 2: </b>
                                <span class="fs-14">Nhập link cần review của bạn</span>
                            </label>
                            <input type="url" class="form-control" id="reviewLink" aria-describedby="link" required placeholder="https://...">
                        </div>
                    
                        <!-- Bước 3: Mô tả dịch vụ -->
                        <div class="mb-3">
                            <label for="description" class="form-label">
                                <b>Bước 3: </b>
                                <span class="fs-14">Mô tả dịch vụ của bạn</span>
                            </label>
                            <input type="text" class="form-control" id="description" required placeholder="Mô tả dịch vụ của bạn ...">
                        </div>
                    
                        <!-- Bước 4: Nhập số lượng review -->
                        <div class="mb-3">
                            <label for="reviewQuantity" class="form-label">
                                <b>Bước 4: </b>
                                <span class="fs-14">Nhập số lượng review cần mua</span>
                            </label>
                            <input type="number" class="form-control" id="numberInput" aria-describedby="quantity" required min="1" value="1">
                        </div>
                    
                        <!-- Bước 5: Tải lên hình ảnh -->
                        <div class="mb-3">
                            <label for="uploadImage" class="form-label">
                                <b>Bước 5: </b>
                                <span class="fs-14">Tải lên hình ảnh map hoặc fanpage cần review</span>
                            </label>
                            <input type="file" class="form-control" id="uploadImage" required>
                        </div>
                    
                        <!-- Bước 6: Số lượng review 1 ngày -->
                        <div class="mb-3">
                            <label for="dailyReviewQuantity" class="form-label">
                                <b>Bước 6: </b>
                                <span class="fs-14">Số lượng review 1 ngày</span>
                            </label>
                            <input type="number" class="form-control" id="turnNumber" required min="1">
                        </div>

                        <div class="mb-3">
                            <label for="maps" class="form-label">
                                <b>Bước 7: </b>
                                <span class="fs-14">Chọn ngôn ngữ yêu cầu </span>
                            </label>
                            <select class="form-select " aria-label="Chọn ngôn ngữ" required>
                                <option selected>Chọn ngôn ngữ</option>
                                <option value="ab">Abkhazian</option>
                                <option value="aa">Afar</option>
                                <option value="af">Afrikaans</option>
                                <option value="ak">Akan</option>
                                <option value="sq">Albanian</option>
                                <option value="am">Amharic</option>
                                <option value="ar">Arabic</option>
                                <option value="an">Aragonese</option>
                                <option value="hy">Armenian</option>
                                <option value="as">Assamese</option>
                                <option value="av">Avaric</option>
                                <option value="ae">Avestan</option>
                                <option value="ay">Aymara</option>
                                <option value="az">Azerbaijani</option>
                                <option value="bm">Bambara</option>
                                <option value="ba">Bashkir</option>
                                <option value="eu">Basque</option>
                                <option value="be">Belarusian</option>
                                <option value="bn">Bengali</option>
                                <option value="bh">Bihari languages</option>
                                <option value="bi">Bislama</option>
                                <option value="bs">Bosnian</option>
                                <option value="br">Breton</option>
                                <option value="bg">Bulgarian</option>
                                <option value="my">Burmese</option>
                                <option value="ca">Catalan</option>
                                <option value="ch">Chamorro</option>
                                <option value="ce">Chechen</option>
                                <option value="ny">Chichewa</option>
                                <option value="zh">Chinese</option>
                                <option value="cv">Chuvash</option>
                                <option value="kw">Cornish</option>
                                <option value="co">Corsican</option>
                                <option value="cr">Cree</option>
                                <option value="hr">Croatian</option>
                                <option value="cs">Czech</option>
                                <option value="da">Danish</option>
                                <option value="dv">Dhivehi</option>
                                <option value="nl">Dutch</option>
                                <option value="dz">Dzongkha</option>
                                <option value="en">English</option>
                                <option value="eo">Esperanto</option>
                                <option value="et">Estonian</option>
                                <option value="ee">Ewe</option>
                                <option value="fo">Faroese</option>
                                <option value="fj">Fijian</option>
                                <option value="fi">Finnish</option>
                                <option value="fr">French</option>
                                <option value="ff">Fulah</option>
                                <option value="gl">Galician</option>
                                <option value="ka">Georgian</option>
                                <option value="de">German</option>
                                <option value="el">Greek</option>
                                <option value="gn">Guarani</option>
                                <option value="gu">Gujarati</option>
                                <option value="ht">Haitian</option>
                                <option value="ha">Hausa</option>
                                <option value="he">Hebrew</option>
                                <option value="hz">Herero</option>
                                <option value="hi">Hindi</option>
                                <option value="ho">Hiri Motu</option>
                                <option value="hu">Hungarian</option>
                                <option value="is">Icelandic</option>
                                <option value="io">Ido</option>
                                <option value="ig">Igbo</option>
                                <option value="id">Indonesian</option>
                                <option value="ia">Interlingua</option>
                                <option value="ie">Interlingue</option>
                                <option value="iu">Inuktitut</option>
                                <option value="ik">Inupiaq</option>
                                <option value="ga">Irish</option>
                                <option value="it">Italian</option>
                                <option value="ja">Japanese</option>
                                <option value="jv">Javanese</option>
                                <option value="kl">Kalaallisut</option>
                                <option value="kn">Kannada</option>
                                <option value="ks">Kashmiri</option>
                                <option value="kk">Kazakh</option>
                                <option value="km">Khmer</option>
                                <option value="ki">Kikuyu</option>
                                <option value="rw">Kinyarwanda</option>
                                <option value="ky">Kirghiz</option>
                                <option value="kv">Komi</option>
                                <option value="kg">Kongo</option>
                                <option value="ko">Korean</option>
                                <option value="kj">Kuanyama</option>
                                <option value="ku">Kurdish</option>
                                <option value="lo">Lao</option>
                                <option value="la">Latin</option>
                                <option value="lv">Latvian</option>
                                <option value="li">Limburgan</option>
                                <option value="ln">Lingala</option>
                                <option value="lt">Lithuanian</option>
                                <option value="lu">Luba-Katanga</option>
                                <option value="lb">Luxembourgish</option>
                                <option value="mk">Macedonian</option>
                                <option value="mg">Malagasy</option>
                                <option value="ms">Malay</option>
                                <option value="ml">Malayalam</option>
                                <option value="mt">Maltese</option>
                                <option value="gv">Manx</option>
                                <option value="mi">Maori</option>
                                <option value="mr">Marathi</option>
                                <option value="mh">Marshallese</option>
                                <option value="mn">Mongolian</option>
                                <option value="na">Nauru</option>
                                <option value="nv">Navajo</option>
                                <option value="nd">North Ndebele</option>
                                <option value="nr">South Ndebele</option>
                                <option value="ng">Ndonga</option>
                                <option value="ne">Nepali</option>
                                <option value="no">Norwegian</option>
                                <option value="nb">Norwegian Bokmål</option>
                                <option value="nn">Norwegian Nynorsk</option>
                                <option value="oc">Occitan</option>
                                <option value="or">Oriya</option>
                                <option value="om">Oromo</option>
                                <option value="os">Ossetian</option>
                                <option value="pi">Pali</option>
                                <option value="pa">Punjabi</option>
                                <option value="ps">Pashto</option>
                                <option value="fa">Persian</option>
                                <option value="pl">Polish</option>
                                <option value="pt">Portuguese</option>
                                <option value="qu">Quechua</option>
                                <option value="ro">Romanian</option>
                                <option value="rm">Romansh</option>
                                <option value="rn">Rundi</option>
                                <option value="ru">Russian</option>
                                <option value="sm">Samoan</option>
                                <option value="sg">Sango</option>
                                <option value="sa">Sanskrit</option>
                                <option value="sc">Sardinian</option>
                                <option value="sr">Serbian</option>
                                <option value="sn">Shona</option>
                                <option value="sd">Sindhi</option>
                                <option value="si">Sinhala</option>
                                <option value="sk">Slovak</option>
                                <option value="sl">Slovenian</option>
                                <option value="so">Somali</option>
                                <option value="st">Southern Sotho</option>
                                <option value="es">Spanish</option>
                                <option value="su">Sundanese</option>
                                <option value="sw">Swahili</option>
                                <option value="sv">Swedish</option>
                                <option value="tl">Tagalog</option>
                                <option value="tg">Tajik</option>
                                <option value="ta">Tamil</option>
                                <option value="tt">Tatar</option>
                                <option value="te">Telugu</option>
                                <option value="th">Thai</option>
                                <option value="bo">Tibetan</option>
                                <option value="ti">Tigrinya</option>
                                <option value="to">Tonga</option>
                                <option value="ts">Tsonga</option>
                                <option value="tn">Tswana</option>
                                <option value="tr">Turkish</option>
                                <option value="tk">Turkmen</option>
                                <option value="tw">Twi</option>
                                <option value="ug">Uighur</option>
                                <option value="uk">Ukrainian</option>
                                <option value="ur">Urdu</option>
                                <option value="uz">Uzbek</option>
                                <option value="vi">Vietnamese</option>
                                <option value="vo">Volapük</option>
                                <option value="wa">Walloon</option>
                                <option value="cy">Welsh</option>
                                <option value="wo">Wolof</option>
                                <option value="xh">Xhosa</option>
                                <option value="yi">Yiddish</option>
                                <option value="yo">Yoruba</option>
                                <option value="za">Zhuang</option>
                                <option value="zu">Zulu</option>
                              </select>
                              
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" required style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Nhập yêu cầu chi tiết</label>
                        </div>
                    
                        <!-- Tổng tiền -->
                        <div class="mb-3 d-flex justify-content-end">
                            <span class="fs-6 fw-bold pe-1">Tổng tiền:</span>
                            <span class="fs-6 text-danger fw-bold" data-price-display></span>
                        </div>
                    
                        <!-- Xác nhận thanh toán -->
                        <div>
                            <button type="button" id="confirmBtn" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#exampleModal-confirm">Xác nhận</button>
                        </div>
                    
                        <!-- Modal Xác nhận thanh toán -->
                        <div class="modal fade" id="exampleModal-confirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header border-0">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận thanh toán đơn hàng</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex justify-content-between">
                                            <span class="text-secondary">Số dư tài khoản:</span>
                                            <span class="fw-semibold">$500</span>
                                        </div>
                                        <hr>
                                        <div class="d-flex justify-content-between">
                                            <span class="text-secondary">Giá trị đơn hàng:</span>
                                            <span class="fw-semibold fs-6 text-danger" data-price-display>$50</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Thanh toán</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </form>


                </div>
            </div>


            <div class="mt-2">
                <div class="rounded p-2 bg-light shadow-sm">
                    <div>${guide}</div>
                </div>
            </div>


        </div>
    </section>
    
    <input th:value="${orderType.promotionalPrice != null ? orderType.promotionalPrice : orderType.price}" id="basePrice" type="hidden">


     <div th:replace="~{User/Fragment/element ::footer}"></div>

    <script src="/User/js/goBack.js"></script>
    <script src="/User/js/bootstrap.bundle.min.js"></script>
    <script src="/User/js/menu.js"></script>
    <script th:inline="javascript" src="/User/js/booking.js"></script>
</body>

</html>