<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviewords</title>

      <div th:replace="~{User/Fragment/element :: head}"></div>

  <link rel="stylesheet" href="/User/css/account.css">

  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">
</head>

<body>

      <div th:replace="~{User/Fragment/element :: header}"></div>


  <section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="rounded shadow-sm p-2 bg-light">
            <div class="d-flex ">
              <div class="avatar  overflow-hidden p-2 bg__gray__light__subtle rounded-circle">
                <img class="w-100 h-100 object-fit-cover rounded-circle" src="/User/assets/photo/avatar.jpg">
              </div>

              <div class="ms-2 d-flex flex-column justify-content-between">
                <div>
                  <h6 class="mb-0 fw-semibold" th:text="${user.username}">username</h6>
                  <span class="text-secondary fs__12px" th:text="${user.email}">user@gmail.com</span>
                </div>
                <span class="fw-semibold text-primary" th:if="${user.rank != null}" th:text="${user.rank.name}">Member</span>
              </div>
            </div>

            <div class="d-flex mt-2">
              <div class="border rounded-start border-primary p-2 d-flex justify-content-between w-100">
                <span>Ví:</span>
                <span class="fw-semibold" th:text="'$' + ${#numbers.formatDecimal(user.amount, 1, 'COMMA', 2, 'POINT')}">$50</span>
              </div>
              <a class="btn btn-primary rounded-start-0" href="/account/deposit"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div class="d-flex mt-1">
              <div class="border rounded-start border-primary p-2 d-flex justify-content-between w-100">
                <span>Ví thưởng:</span>
                <span class="fw-semibold" th:text="'$' + ${#numbers.formatDecimal(user.bonusAmount, 1, 'COMMA', 2, 'POINT')}">$50</span>
              </div>
              <a class="btn btn-primary rounded-start-0" href="/account/withdraw"><i class="fa-solid fa-download"></i></a>
            </div>

            <div class=" mt-3">
              <label for="exampleInputEmail1" class="mb-1 form-label d-flex justify-content-between">
                <span>Link mời của bạn</span>
                <a class="btn btn-secondary px-2 py-0 fs__12px" id="copyButton">copy</a>
              </label>
              <input type="text" class="form-control" id="copyInput" readonly
                th:value="${inviteLink}">
            </div>

          </div>

          <div class="rounded shadow-sm p-2 bg-light mt-2 account__menu__tab medium-content">
            <a class="d-flex p-2 justify-content-between text-decoration-none text-dark border-bottom"
              href="/account/detail">
              <span>Chi tiết tài khoản</span>
              <i class="fa-solid fa-angle-right"></i>
            </a>
            <a class="d-flex p-2 justify-content-between text-decoration-none text-dark border-bottom" href="/account/affiliate">
              <span>Tiếp thị liên kết</span>
              <i class="fa-solid fa-angle-right"></i>
            </a>

            <a class="d-flex p-2 justify-content-between text-decoration-none text-dark border-bottom" href="/account/mission-history">
              <span>Lịch sử nhiệm vụ</span>
              <i class="fa-solid fa-angle-right"></i>
            </a>
            <a class="d-flex p-2 justify-content-between text-decoration-none text-dark border-bottom" href="/account/deposit-history">
              <span>Lịch sử nạp tiền</span>
              <i class="fa-solid fa-angle-right"></i>
            </a>
            <a class="d-flex p-2 justify-content-between text-decoration-none text-dark " href="/account/withdraw-history">
              <span>Lịch sử rút tiền</span>
              <i class="fa-solid fa-angle-right"></i>
            </a>

            <form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit" class="btn btn-outline-danger w-100 mt-3">Đăng xuất</button>
</form>
          </div>

          <div class="rounded shadow-sm p-2 bg-light mt-2 account__menu__tab large-content">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab " role="tablist" aria-orientation="vertical">
              <button class="nav-link active " id="v-pills-account-detail-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-account-detail" type="button" role="tab" aria-controls="v-pills-account-detail"
                aria-selected="true">Chi tiết tài khoản</button>

              <button class="nav-link" id="v-pills-affiliate-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-affiliate" type="button" role="tab" aria-controls="v-pills-affiliate"
                aria-selected="false">Tiếp thị liên kết</button>

              <button class="nav-link" id="v-pills-mission-history-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-mission-history" type="button" role="tab"
                aria-controls="v-pills-mission-history" aria-selected="false">Lịch sử nhiệm vụ</button>

              <button class="nav-link" id="v-pills-deposit-history-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-deposit-history" type="button" role="tab"
                aria-controls="v-pills-deposit-history" aria-selected="false">Lịch sử nạp tiền</button>
              <button class="nav-link" id="v-pills-withdraw-history-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-withdraw-history" type="button" role="tab"
                aria-controls="v-pills-withdraw-history" aria-selected="false">Lịch sử rút tiền</button>
            </div>



            <form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit" class="btn btn-outline-danger w-100 mt-3">Đăng xuất</button>
</form>

          </div>

        </div>

        <div class="col-md-8 large-content">
          <div class="rounded shadow-sm p-2 bg-light">
            <div class="tab-content" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-account-detail" role="tabpanel"
                aria-labelledby="v-pills-account-detail-tab" tabindex="0">
                <div th:replace="~{User/Pages/Account/Fragment/account-detail-element :: account-detail}"></div>
              </div>

              <div class="tab-pane fade " id="v-pills-affiliate" role="tabpanel" aria-labelledby="v-pills-affiliate-tab"
                tabindex="0">

                <div th:replace="~{User/Pages/Account/Fragment/affiliate-element :: affiliate}"></div>
              </div>

              <div class="tab-pane fade " id="v-pills-mission-history" role="tabpanel"
                aria-labelledby="v-pills-mission-history-tab" tabindex="0">
                
                <div th:replace="~{User/Pages/Account/Fragment/mission-history-element :: mission-history}"></div>

              </div>

              <div class="tab-pane fade" id="v-pills-deposit-history" role="tabpanel"
                aria-labelledby="v-pills-deposit-history-tab" tabindex="0">

                <div th:replace="~{User/Pages/Account/Fragment/deposit-history-element :: deposit-history}"></div>

              </div>
              <div class="tab-pane fade" id="v-pills-withdraw-history" role="tabpanel"
                aria-labelledby="v-pills-withdraw-history-tab" tabindex="0">

                <div th:replace="~{User/Pages/Account/Fragment/withdraw-history-element :: withdraw-history}"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  
    <div th:replace="~{User/Fragment/element :: toast}"></div>


  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>

  <script>

    $(document).ready(function () {
      $('#withdraw-data').DataTable({
        scrollX: true
      });
    });
    
    $(document).ready(function () {
        $('#deposit-data').DataTable({
          scrollX: true
        });
      });

   /*  // Chỉ khởi tạo DataTables cho deposit-data khi tab được show
    $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href");
      if (target === '#v-pills-deposit-history') {
        if (!$.fn.DataTable.isDataTable('#deposit-data')) {
          $('#deposit-data').DataTable({
            scrollX: true
          });
        }
      }
      if (target === '#v-pills-withdraw-history') {
        if (!$.fn.DataTable.isDataTable('#withdraw-data')) {
          $('#withdraw-data').DataTable({
            scrollX: true
          });
        }
      }
    }); */

    $(document).ready(function () {
      $('#user-affiliate-data').DataTable({
        scrollX: true
      });
    });

    $(document).ready(function () {
      $('#user-affiliate-detail-data').DataTable({
        scrollX: true
      });
    });
  </script>

  <script src="/User/js/password.js"></script>
  <script src="/User/js/copyText.js"></script>
  <script src="/User/js/bootstrap.bundle.min.js"></script>
  <script src="/User/js/menu.js"></script>
</body>

</html>