<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviewords</title>

          <div th:replace="~{User/Fragment/element :: head}"></div>


</head>

<body>

          <div th:replace="~{User/Fragment/element :: header}"></div>

  
    
  <div class="container">
    <div class="border-bottom border-secondary-subtle d-flex justify-content-between p-2">
        <a href="#" id="goBack" class="text-secondary fs__12px"><i class="fa-solid fa-arrow-left"></i> Trở về</a>
        <span class="fw-semibold">Rút tiền</span>
    </div>
</div>

<section class="mt-3">
    <div class="medium__container">
    
      <div class="p-2 rounded mt-2 bg-light shadow-sm mb-2">
                <div class="d-flex justify-content-between">
                    <span>Số dư ví thưởng:</span>
                    <span class="fw-semibold">$50</span>
                </div>
            </div>

        <div class="rounded shadow-sm p-2 bg-light mb-2">
             <form>
                 <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nhập số tiền muốn rút</label>
                    <div class="input-group ">
                        <span class="input-group-text">$</span>
                        <div class="form-floating">
                          <input type="number" class="form-control" id="floatingInputGroup1" placeholder="Số tiền" required min="5" step="0.01" >
                          <label for="floatingInputGroup1">Số tiền</label>
                        </div>
                      </div>
                    <div  class="form-text">Số tiền rút tối thiểu là $5 - $500</div>
                  </div>
                  
                  <div class="mt-3">
										<p>Chọn tài khoản muốn rút về</p>
										<select class="form-select"
											aria-label="Default select example" id="bankSelect">
											<option value="1">One</option>
											<option value="2">two</option>
										</select>

										<div id="bank1" class="bank-info p-2 rounded border mt-1 mb-2" style="display: none;">
											<div class="row">
												
												<div class="col-12 d-flex flex-column justify-content-center">
													<div class="d-flex justify-content-between py-1">
														<span class="text-secondary">Họ và tên:</span> <span
															class="fw-semibold" >NGUYEN VAN A Nguiyeen kohon </span>
													</div>
													<div class="d-flex justify-content-between py-1">
														<span class="text-secondary">Số tài khoản:</span> <span
															class="fw-semibold" >NGUYEN VAN A /Nguyenvan !0 </span>
													</div>
													<div class="d-flex justify-content-between py-1">
														<span class="text-secondary">Ngân hàng:</span> <span
															class="fw-semibold" >NGUYEN VAN A</span>
													</div>
													<div class="d-flex justify-content-between py-1">
														<span class="text-secondary">Chi nhánh N/Hàng:</span> <span
															class="fw-semibold"  >NGUYEN VA vcl N A</span>
													</div>
													<div class="d-flex justify-content-between py-1">
														<span class="text-secondary">Nội dung chuyển khoản:</span> <span
															class="fw-semibold" >NGUYEN VAN  nnguyen choA</span>
													</div>
												</div>
											</div>
										</div>
										<div id="bank2" class="bank-info p-2 rounded border mt-1 mb-2" style="display: none;">Thông
											tin Ngân hàng B</div>
										
									</div>
                  
                  
                  <button class="btn btn-success w-100">Xác nhận rút</button>
                  
             </form>
    </div>


        <div class="rounded shadow-sm p-2 bg-light">
                
                <div class="d-flex flex-column align-items-center justify-content-center py-5">
                    <img style="width: 50px; height: 50px;" src="/User/assets/photo/empty-icon.png">
                    <p class="text-secondary fs__12px">Chưa có ngân hàng nào</p>
                    <a class="btn btn__orange" href="/account/detail">Thêm ngân hàng ngay</a>
                  </div>
        </div>

    </div>
</section>


 <script>
        function updateBankInfo() {
            document.querySelectorAll(".bank-info").forEach(div => div.style.display = "none");

            let selectedValue = document.getElementById("bankSelect").value;

            if (selectedValue) {
                document.getElementById("bank" + selectedValue).style.display = "block";
            }
        }

        document.getElementById("bankSelect").addEventListener("change", updateBankInfo);

        window.onload = updateBankInfo;
    </script>

 

  <script src="/User/js/goBack.js"></script>
  <script src="/User/js/bootstrap.bundle.min.js"></script>
  <script src="/User/js/menu.js"></script>
</body>

</html>