<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviewords</title>

  <div th:replace="~{User/Fragment/element :: head}"></div>

  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">

</head>

<body>

   <div th:replace="~{User/Fragment/element :: header}"></div>

  
    
  <div class="container">
    <div class="border-bottom border-secondary-subtle d-flex justify-content-between p-2">
        <a href="#" id="goBack" class="text-secondary fs__12px"><i class="fa-solid fa-arrow-left"></i> Trở về</a>
        <span class="fw-semibold">Lịch sử rút tiền</span>
    </div>
  </div>




  <section class="mt-3">
    <div class="container">
        <div class="rounded shadow-sm bg-light ">
              <div th:replace="~{User/Pages/Account/Fragment/withdraw-history-element :: withdraw-history}"></div>
        </div>
    </div>
  </section>


  
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>

  <script>
    $(document).ready(function () {
      $('#withdraw-data').DataTable({
        scrollX: true,
        dom: 'lfrtip'
      });
    });
  </script>

<script src="/User/js/goBack.js"></script>
  <script src="/User/js/bootstrap.bundle.min.js"></script>
  <script src="/User/js/menu.js"></script>
</body>

</html>