<div th:fragment="deposit-history">
<div class="p-2">
                  <h5 class="fw-semibold">Lịch sử nạp tiền</h5>
                  <table id="deposit-data" class="table table-striped text-nowrap w-100">
                    <thead>
                      <tr>
                        <th>Mã nạp</th>
                        <th>Phương thức</th>
                        <th>Số tiền</th>
                        <th>Trạng thái</th>
                        <th>Ngày thực hiện</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="deposit : ${deposits}">
                        <td th:text="${deposit.id}"></td>
                        <td>
                            <span th:switch="${deposit.paymentMethod}">
                                <span th:case="'SEPAY'" class="badge bg-label-primary">VN BANKING</span>
                                <span th:case="'USDT'" class="badge bg-label-success">USDT</span>
                                <span th:case="*" th:text="${deposit.paymentMethod}"></span>
                            </span>
                        </td>
                        <td th:text="${#numbers.formatDecimal(deposit.amount, 1, 'COMMA', 0, 'POINT')} + ' đ'"></td>
                        <td>
                            <span th:class="${deposit.status == 'SUCCESS' ? 'badge bg-success' : (deposit.status == 'PENDING' ? 'badge bg-warning' : 'badge bg-danger')}"
                                  th:text="${deposit.status == 'SUCCESS' ? 'Thành công' : (deposit.status == 'PENDING' ? 'Đang xử lý' : 'Thất bại')}">
                            </span>
                        </td>
                        <td th:text="${#dates.format(deposit.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
</div>