<div th:fragment="deposit-history">
<div class="p-2">
                  <h5 class="fw-semibold">Lịch sử nạp tiền</h5>
                  <table id="deposit-data" class="table table-striped   text-nowrap w-100">
                    <thead>
                      <tr>
                        <th>Mã nạp</th>
                        <th>Phương thức</th>
                        <th>Số tiền</th>
                        <th>Trạng thái</th>
                        <th>Ngày thực hiện</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>59</td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
</div>