<div th:fragment="withdraw-history">
    <div class="p-2">
        <h5 class="fw-semibold">Lịch sử rút tiền</h5>
        <table id="withdraw-data" class="table table-striped text-nowrap w-100">
            <thead>
                <tr>
                    <th class="text-center">Mã rút</th>
                    <th class="text-center">Số tiền</th>
                    <th class="text-center">Thông tin tài khoản</th>
                    <th class="text-center">Ngày tạo</th>
                    <th class="text-center">Ngày xử lý</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="withdraw : ${withdraws}">
                    <td class="text-center" th:text="${withdraw.id}"></td>
                    <td class="text-center" th:text="${#numbers.formatDecimal(withdraw.amount, 0, 'COMMA', 0, 'POINT') + ' $'}"></td>
                    <td class="text-center">
                        <span th:text="${withdraw.accountNumber}"></span> - 
                        <span th:text="${withdraw.accountName}"></span> - 
                        <span th:text="${withdraw.bankName}"></span>
                    </td>
                    <td class="text-center" th:text="${#dates.format(withdraw.createAt, 'dd/MM/yyyy HH:mm')}"></td>
                    <td class="text-center" th:text="${withdraw.processedAt != null ? #dates.format(withdraw.processedAt, 'dd/MM/yyyy HH:mm') : '-'}"></td>
                </tr>
                <tr th:if="${#lists.isEmpty(withdraws)}">
                    <td class="text-center" colspan="5">Không có dữ liệu</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>